@import "~antd/dist/antd.css";

/* #root > section > section > section > main > div.ant-row.ant-row-center > div > div > div > form > div:nth-child(1) > div.ant-col.ant-col-4 > button:nth-child(1){
    background-color:#009900;
}  */

/* .darkmode {
  background-color: black;
  color: white;

} */
